.git
.gitignore
.next
node_modules
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.venv
.env
.env.*
!.env.example
walletmate-pwa-app/.next
walletmate-pwa-app/node_modules
walletmate-pwa-app/public/sw.js
walletmate-api/.venv
walletmate-api/__pycache__
walletmate-api/.pytest_cache
walletmate-api/.mypy_cache
walletmate-api/.ruff_cache
